.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;

  background: transparent;
  transition: all 0.3s ease;
  min-height: 90vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.15);

  width: 100%;
  height: 100%;
}
.imagebg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // img {
  //   object-fit: scale-down;
  // }
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20rem;
  width: 100%;
  position: relative;
  z-index: 3;
}
.content p {
  color: white;
}
