.herofea {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  position: relative;

  background: transparent;
  transition: all 0.3s ease;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
  padding-top: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  p {
    max-width: 155vw;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    li {
      cursor: pointer;
    }
  }
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 32px;
  height: 2px;
  background: black;
}

.collections {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .collections {
    grid-template-columns: 1fr;
  }
}
.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;
  overflow: hidden;
  aspect-ratio: 3 / 4;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-radius: 8px;
}

.mainImage,
.hoverImage {
  transition:
    opacity 0.4s ease,
    transform 0.6s ease;
}

.mainImage {
  opacity: 1;
}
.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .info {
    display: flex;
    flex-direction: column;
  }
}

.cardContent h4 {
  line-height: 1.7;
  color: #5e5e5e;
}
.cardContent p {
  line-height: 1.7;
  color: #1f1f1f;
}
.cardContent button {
  margin-top: 0.5rem;
  align-self: center;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.favorites {
  cursor: pointer;
}

.tf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
