.detail {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;

  padding: 8rem 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.galleryImage {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
    cursor: zoom-out;
  }

  &:hover img {
    transform: scale(1.03);
  }
}

.info {
  position: relative;
}

.stickyContent {
  position: sticky;
  top: 120px;

  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  max-height: calc(100vh - 150px);
}
.productTitle {
  font-family: var(--font-blackops);
}

.description {
  padding: 1rem 2rem;
}

.sectionTitle {
  font-weight: bold;
}
.section2 {
  display: flex;
  gap: 2rem;
  width: 100%;

  .pricesec,
  .colorsec {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.price {
  font-size: large;
  font-weight: bold;
  padding: 0 1rem;
}

.sizes {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.5rem 0.8rem;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
  }

  .activeSize {
    background: #111;
    color: white;
  }
}
.quantity {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  button {
    width: 40px;
    height: 40px;

    border: 1px solid #333;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .detail {
    grid-template-columns: 1fr;
    padding: 6rem 1rem;
  }

  .stickyContent {
    position: static;
  }
  .section2 {
    flex-direction: column;
  }
}
.cartbtn {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
