.register {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;

  background: transparent;
  transition: all 0.3s ease;
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
}
// .imagebg {
//   position: relative;
//   width: 100%;
//   min-height: 100vh;
//   inset: 0;
//   flex: 1;
//   z-index: 1;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
.imagebg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
}
.content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background: rgba(10, 10, 10, 0.45);
  backdrop-filter: blur(18px);
  min-height: 100vh;

  margin: 2.5rem;

  width: min(60%, 520px);

  z-index: 2;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 0.4rem;
  text-align: center;
  color: white;
}
.subtitle {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  text-align: center;
  color: white;
}

.input {
  height: 42px;
  padding: 0 1rem;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  outline: none;
}

.input:focus {
  border-color: #328303;
  box-shadow: 0 0 0 5px rgba(92, 212, 55, 0.18);
}
.error {
  font-size: 13px;
  color: #f82a2a;
  margin-top: -10px;
}

.button {
  height: 58px;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 12px;
  transition: 0.35s;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 255, 0, 0.5);
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(131, 212, 55, 0.35);
}

.text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #9ca3af;
  a {
    color: white;
  }
}
.google {
  background: white;
  color: black;
  border: none;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .register {
    display: block;
    padding: 2rem 3rem;
  }

  .imagebg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 2;

    width: min(90%, 520px);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 2.5rem;

    border: none;

    background: rgba(10, 10, 10, 0.45);
    backdrop-filter: blur(18px);
  }
}
@media (max-width: 425px) {
  .register {
    display: block;
    padding: 2rem 3rem;
  }

  .content {
    width: 92%;

    padding: 1.25rem;
    margin: 2.5rem;

    border-radius: 18px;
  }

  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .input {
    height: 48px;
  }

  .button {
    height: 50px;
  }
}
