.splash {
  position: fixed;
  inset: 0;
  background: rgb(255, 193, 122);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  img {
    animation: pulse 1.2s ease-in-out infinite;
  }
  p {
    animation: slideIn 1s ease forwards;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
